// COLORS

$color-primary: #003a40;
$color-primary-80: #003a40cc;
$color-primary-60: #003a4099;
$color-primary-40: #003a4066;
$color-primary-30: #003a404d;
$color-primary-12: #003a401f;
$color-primary-8: #003a4014;

$color-light-grey: #f5f5f5;
$color-grey: #ededed;
$color-grey-2: #e8e8e8;

$color-black-60: #00000099;
$color-black-50: #0000008c;
$color-black-40: #00000066;
$color-black-30: #0000004d;
$color-black-16: #00000029;
$color-black-09: #00000017;
$color-black-03: #00000029;

$color-dark-lagoon: #008481;
$color-lagoon: #00b2a9;

$color-info-light: #d7f7f5;
$color-success: #00965e1f;
$color-warning: #f0af001f;
$color-alert: #de34001f;

$color-basil: #00965e;
$color-dark-amarillo: #f0af00;
$color-new-red: #de3400;

$dark-lagoon: #008481;

$color-white: #ffffff;

$color-cyan-1: #def0f2;
$color-green-1: #dcf2ea;
$color-yellow-green-1: #ebf2d3;
$color-orange-1: #f5eedc;
$color-blue-1: #ebf8ff;
$color-purple-1: #f0f0ff;
