.header {
  width: 100%;
  z-index: 999999;
  background-color: $color-primary;
  min-height: 8.4rem;
  &__wrap {
    position: fixed;
    z-index: 999999;

    background-color: $color-primary;
    width: 100%;
    //   padding: 2.1rem 3.5rem;
    min-height: 8.4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3.5rem;
    @include addMediaQuery(laptop) {
      text-align: center;
      padding: 0 0;
      justify-content: center;
      bottom: 0;
    }
  }

  &__logo-box {
    @include addMediaQuery(laptop) {
      display: none;
    }

    &--keep {
      @include addMediaQuery(laptop) {
        display: block !important;
      }
    }
  }

  &__profile {
    height: 100%;
  }
}
