.card-box {
  background-color: $color-lagoon;
  height: auto;
  min-height: 16rem;

  &--white {
    background-color: $color-white;
  }
  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    img {
      height: 5rem;
    }
  }

  &__title {
    font-size: 1.8rem;
    color: $color-white;
    font-weight: 600;
    margin-top: 1rem;
  }
}
