.message {
  border: 1px solid $color-black-09;
  padding: 2rem 3.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    font-size: 1.4rem;
    margin: 0;
  }
  &--info {
    background-color: $color-info-light;
  }
}
