.message {
  position: relative;
  border: 1px solid $color-black-09;
  padding: 2rem 6.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    font-size: 1.4rem;
    margin: 0;
  }

  &--sticky {
    position: fixed;
    top: 14.6rem;
    z-index: 9999;

    @include addMediaQuery(laptop) {
      top: unset;
      bottom: 8.4rem;
    }
  }
  &__close {
    position: absolute;
    right: 3.5rem;
    top: 50%;
    transform: translate(50%, -50%);
    cursor: pointer;

    i {
      font-size: 2rem;
    }
  }
  &--info {
    background-color: $color-info-light;
  }
}
