.section-sign-in {
  max-height: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 100%;
  background-image: url(../img/shape-3.png);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8.4rem;
}
